@edit-button-color: #65676b;

.post-header {
  display: flex;
  align-items: center;
  gap: 0.75em;

  &__avatar {
    width: 3em;
    height: 3em;
  }

  &__username {
    line-height: 1.2;
  }

  &__edit-button {
    margin-left: auto;
    color: @edit-button-color;
    font-size: 0.75em;
  }
}
