@action-button-color: #65676b;

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__user-info {
    display: flex;
    align-items: center;
    gap: 0.75em;
  }

  &__avatar {
    width: 3em;
    height: 3em;
  }

  &__username {
    line-height: 1.2;

    &--clickable {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }

  &__edit-button,
  &__delete-button {
    color: @action-button-color;
    font-size: 0.75em;
  }
}
