@profile-card-muted-text: #65676b;

.profile-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  &__username {
    font-size: 1.25em;
    line-height: 1.2;
  }

  &__location {
    font-size: 0.875em;
    color: @profile-card-muted-text;
  }
}
