@profile-card-avatar-border: #ffffff;

.profile-card-avatar {
  margin-top: -3em;
  margin-left: 1.5em;

  &__image {
    width: 6em !important;
    height: 6em !important;
    border: 0.1875em solid @profile-card-avatar-border;
  }
}
