.profile-card-layout {
  width: 43.75em;
  border-radius: 0.5em;
  overflow: hidden;

  &__body {
    display: flex;
    gap: 1.5em;
    padding: 1em 1.5em 1.5em;
  }

  &__info-section {
    flex: 1;
  }

  &__badges-section {
    flex-shrink: 0;
  }
}
